<%- include("partials/header", {user : user}) %> 

<div class="container-fluid jumbotron text-center">
    <h1>Hello <%= user.name %></h1>
</div>

<div class="container">
    <h4>Top Tracks</h4>
    <div class="row">
        <% for (var i = 0; i < items.length; i++ ) { %>
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <img src= <%= items[i].album.images[0].url %>>
                    <div class="card-content">
                        <p> <%= items[i].name %></p>
                        <% var artists = "" %>
                        <% for (var j = 0; j < items[i].artists.length; j++) { %>
                            <% if (j != items[i].artists.length - 1) { %>
                                <% artists = artists + items[i].artists[j].name + ", "%> 
                            <% } else { %>
                                <% artists = artists + items[i].artists[j].name %>
                            <% }%>
                        <% } %>
                        <p><%= artists %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>





<%- include("partials/footer", {javascript: javascript}) %> 