<%- include("partials/header", {user : user}) %> 

<div class="container-fluid jumbotron text-center multicolor-bg">
    <div class="row d-flex justify-content-center align-items-center">
        <img class="mr-4" src=<%= user.image %> id="profile">
        <h1 class="ml-4 display-4">Hi, <%= user.name %>!</h1>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="text-center">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard/">Listening History</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/dashboard/top-tracks">Your Top Tracks</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/dashboard/top-artists">Your Top Artists</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/dashboard/playlists">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 text-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Showing <%= limit %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/dashboard/recently-played?limit=20">20</a>
                  <a class="dropdown-item" href="/dashboard/recently-played?limit=30">30</a>
                  <a class="dropdown-item" href="/dashboard/recently-played?limit=40">40</a>
                  <a class="dropdown-item" href="/dashboard/recently-played?limit=50">50 (Max)</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <% for (var i = 0; i < items.length; i++ ) { %>
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-preview">
                        <a href="<%= items[i].track.external_urls.spotify %>">
                            <img src= <%= items[i].track.album.images[0].url %>>
                            <div class="overlay">
                                <button class="play-btn"><i class="fas fa-play fa-4x"></i></button>
                            </div>
                        </a>
                    </div>
                    <div class="card-content">
                        <p> <%= items[i].track.name %></p>
                        <% var artists = "" %>
                        <% for (var j = 0; j < items[i].track.album.artists.length; j++) { %>
                            <% if (j != items[i].track.album.artists.length - 1) { %>
                                <% artists = artists + items[i].track.album.artists[j].name + ", "%> 
                            <% } else { %>
                                <% artists = artists + items[i].track.album.artists[j].name %>
                            <% }%>
                        <% } %>
                        <p><%= artists %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>


<%- include("partials/footer", {javascript: javascript}) %> 