<%- include("partials/header", {user : user}) %> 

<div class="container-fluid jumbotron text-center multicolor-bg">
    <div class="row d-flex justify-content-center align-items-center">
        <img class="mr-4" src=<%= user.image %> id="profile">
        <h1 class="ml-4 display-4">Hi <%= user.name %></h1>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard/">Recently Played</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/top-tracks">Your Top Tracks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/top-artists">Your Top Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/playlists">Playlists</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <% for (var i = 0; i < items.length; i++ ) { %>
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-preview">
                        <img src= <%= items[i].track.album.images[0].url %>>
                        <div class="overlay">
                            <form action="/dashboard/recently-played/play/<%= items[i].track.uri %>?_method=PUT" method="POST">
                                <button type="submit" class="play-btn"><i class="fas fa-play fa-4x"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="card-content">
                        <p> <%= items[i].track.name %></p>
                        <% var artists = "" %>
                        <% for (var j = 0; j < items[i].track.album.artists.length; j++) { %>
                            <% if (j != items[i].track.album.artists.length - 1) { %>
                                <% artists = artists + items[i].track.album.artists[j].name + ", "%> 
                            <% } else { %>
                                <% artists = artists + items[i].track.album.artists[j].name %>
                            <% }%>
                        <% } %>
                        <p><%= artists %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>


<%- include("partials/footer", {javascript: javascript}) %> 